@font-face {
    font-family: 'Copperplate 1';
    src: url(/assets/fonts/Copperplate-Gothic-Std-29-AB.woff) format('woff');
}

@font-face {
    font-family: 'Copperplate 2';
    src: url(/assets/fonts/Copperplate-Gothic-Std-29-BC.woff) format('woff');
}

@font-face {
    font-family: 'Copperplate 3';
    src: url(/assets/fonts/Copperplate-Gothic-Std-30-AB.woff) format('woff');
}

@font-face {
    font-family: 'Copperplate 4';
    src: url(/assets/fonts/Copperplate-Gothic-Std-31-AB.woff) format('woff');
}

@font-face {
    font-family: 'Copperplate 5';
    src: url(/assets/fonts/Copperplate-Gothic-Std-32-AB.woff) format('woff');
}

@font-face {
    font-family: 'Copperplate 6';
    src: url(/assets/fonts/Copperplate-Gothic-Std-33-BC.woff) format('woff');
}

@font-face {
    font-family: 'Copperplate 7';
    src: url(/assets/fonts/Copperplate-Gothic-Std-32-BC.woff) format('woff');
}

@font-face {
    font-family: 'Copperplate 8';
    src: url(/assets/fonts/Copperplate-Gothic-Std-31-BC.woff) format('woff');
}